@model RankenData.InterfacesSAPCognos.Web.Models.SaldoInicial

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SaldoInicial</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.CuentaCognosId, "CuentaCognosId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaCognosId", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaCognosId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaCognosValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuentaCognosValue)
                @Html.ValidationMessageFor(model => model.CuentaCognosValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompaniaCognosId, "CompaniaCognosId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CompaniaCognosId", String.Empty)
                @Html.ValidationMessageFor(model => model.CompaniaCognosId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompaniaCognosValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompaniaCognosValue)
                @Html.ValidationMessageFor(model => model.CompaniaCognosValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnioFiscalId, "AnioFiscalId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnioFiscalId", String.Empty)
                @Html.ValidationMessageFor(model => model.AnioFiscalId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnioFiscalValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnioFiscalValue)
                @Html.ValidationMessageFor(model => model.AnioFiscalValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Saldo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Saldo)
                @Html.ValidationMessageFor(model => model.Saldo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsCargaMasiva, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsCargaMasiva)
                @Html.ValidationMessageFor(model => model.EsCargaMasiva)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
