@model RankenData.InterfacesSAPCognos.Web.Models.SaldoInicial

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SaldoInicial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuentaCognosValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCognosValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompaniaCognosValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompaniaCognosValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioFiscalValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioFiscalValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsCargaMasiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsCargaMasiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioFiscal.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioFiscal.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompaniaCognos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompaniaCognos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuentaCognos.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCognos.Numero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
