@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.SaldoInicial>

@{
    ViewBag.Title = "Index";
}

@if (!ViewData.ModelState.IsValid)
{
    <div>
        Mensaje:
    </div>
    <div>
        @Html.ValidationMessage("Error")
    </div>

}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CuentaCognosValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompaniaCognosValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioFiscalValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsCargaMasiva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioFiscal.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompaniaCognos.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentaCognos.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaCognosValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompaniaCognosValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioFiscalValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsCargaMasiva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioFiscal.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompaniaCognos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaCognos.Numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
@using (Html.BeginForm("Index", "ElSaldoInicial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="position:relative;">
        <a class='btn btn-primary' href='javascript:;'>
            SELECCIONE ARCHIVO...
            <input type="file" name="file" id="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="40" onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" name="Submit" id="Submit" value="Carga Masiva" />
}