@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.GrupoUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Administración Usuarios</h2>

<p>Relación usuario por Grupo</p>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Nombre de usuario")
        </th>
        <th>            
            @Html.Label("Nombre de perfíl")
        </th>      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>      
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.Nombre)
        </td>
        <td>
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
