@model RankenData.InterfacesSAPCognos.Web.Models.ArchivoProcesadoDetalle

@{
    ViewBag.Title = "Crear";
    ViewBag.archivoId = Request.Params["URL"].Substring(Request.Params["URL"].LastIndexOf("/") + 1, Request.Params["URL"].Length - Request.Params["URL"].LastIndexOf("/") - 1);
}

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Archivo Procesado Detalle</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @*@Html.LabelFor(model => model.Account, new { @class = "control-label col-md-2" })*@
            @Html.Label("Cuenta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Account, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Account) 
            </div>
        </div>    

        <div class="form-group">
            @*@Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })*@
            @Html.Label("Cantidad", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>
        
        <div class="form-group">
            @*@Html.LabelFor(model => model.TransactionAmount, new { @class = "control-label col-md-2" })*@
            @Html.Label("Cantidad transacción", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TransactionAmount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TransactionAmount)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index", new { Id = ViewBag.archivoId })
</div>
