@model RankenData.InterfacesSAPCognos.Web.Models.ArchivoProcesadoDetalle

@{
    ViewBag.Title = "Editar";
    //ViewBag.URL = Request.Params["URL"];
    //ViewBag.archivoId = Request.Params["URL"].Substring(Request.Params["URL"].LastIndexOf("/") + 1, Request.Params["URL"].Length - Request.Params["URL"].LastIndexOf("/") - 1);
    ViewBag.archivoId = Request.Params["archivoId"];
    ViewBag.tipoArchivo = Request.Params["tipoArchivo"];
}
@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div> 
    @Html.ValidationMessage("Error")
    
     <div class="form-group">
            @Html.LabelFor(model => model.Amount,"Cantidad", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Amount)
               
            </div>
        </div>    

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionAmount, "Cantidad transacción", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.TransactionAmount)               
            </div>
        </div>
}
else
{ 
    <h2>Editar</h2>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            <h4>Archivo Procesado Detalle</h4>
            <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)                      
                @Html.HiddenFor(model => model.Company)          
                @Html.HiddenFor(model => model.Period)           
                @Html.HiddenFor(model => model.Actuality)          
                @Html.HiddenFor(model => model.Account)           
                @Html.HiddenFor(model => model.CounterCompany)      
                @Html.HiddenFor(model => model.Dim1)     
                @Html.HiddenFor(model => model.Dim2)     
                @Html.HiddenFor(model => model.Dim3)     
                @Html.HiddenFor(model => model.ITOpex) 
                @Html.HiddenFor(model => model.TransactionCurrency)
                @Html.HiddenFor(model => model.Form)
                @Html.HiddenFor(model => model.AccountName)
                @Html.HiddenFor(model => model.Retrieve)
                @Html.HiddenFor(model => model.Variance)   
                @Html.HiddenFor(model => model.ArchivoProcesadoId) 
       
            <div class="form-group">
                @Html.LabelFor(model => model.Amount,"Cantidad", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>
            </div>    

            <div class="form-group">
                @Html.LabelFor(model => model.TransactionAmount,"Cantidad transacción", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TransactionAmount, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TransactionAmount)
                </div>
            </div>        
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
     
        </div>
}
}


<div>
    @Html.ActionLink("Regresar a la lista", "Index", new { Id = ViewBag.archivoId, tipoArchivo=ViewBag.tipoArchivo })
</div>
