@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.ArchivoProcesadoDetalle>

@{
    ViewBag.Title = "Indice";
}

@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div>
    @Html.ValidationMessage("Error")
}

<h2>Generar Archivos</h2>

<p>Generar Archivos de Balance</p>
@if (Model != null)
{

    using (Html.BeginForm("GenerarArchivo", "ArchivoProcesadoDetalle"))
    {
        <p>
            @Html.ActionLink("Crear Nuevo", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Period)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actuality)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CounterCompany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionAmount)
                </th>             
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actuality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CounterCompany)
                    </td>
                    <td width="80px" align="right">                       
                        @string.Format("{0:n0}", item.Amount)
                    </td>
                    <td width="150px" align="right">                     
                        @string.Format("{0:n0}", item.TransactionAmount)
                    </td>                  
                    @if (item.EsModificable)
                    {
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id })
                        </td>
                    }
                </tr>
            }

        </table>

        <input type="submit" name="Submit" id="Submit" value="Generar Archivo" />
    }
}