@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.ArchivoProcesadoDetalle>

@{
    ViewBag.Title = "Archivo procesado";
    ViewBag.archivoId = Request.Params["URL"].Substring(Request.Params["URL"].LastIndexOf("/") + 1, Request.Params["URL"].Length - Request.Params["URL"].LastIndexOf("/") -1);
    ViewBag.tipoArchivo = Request.Params["tipoArchivo"];
}

@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div>
    @Html.ValidationMessage("Error")
}

<h2>Generar Archivos</h2>

<p>Generar Archivos de Balance</p>
@if (Model != null)
{

    using (Html.BeginForm("GenerarArchivo", "ArchivoProcesadoDetalle"))
    {
        <p>
            @Html.ActionLink("Crear Nuevo", "Create", new { Id = ViewBag.archivoId })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                    @Html.DisplayName("Compañia")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Period)*@
                    @Html.DisplayName("Periodo")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Actuality)*@
                    @Html.DisplayName("Realidad")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Account)*@
                    @Html.DisplayName("Cuenta")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.CounterCompany)*@
                    @Html.DisplayName("Contador")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Amount)*@
                    @Html.DisplayName("Cantidad")
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.TransactionAmount)*@
                    @Html.DisplayName("Cant transacción")
                </th>             
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Actuality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CounterCompany)
                    </td>
                    <td width="80px" align="right">                       
                        @string.Format("{0:n0}", item.Amount)
                    </td>
                    <td width="150px" align="right">                     
                        @string.Format("{0:n0}", item.TransactionAmount)
                    </td>                  
                    @if (item.EsModificable)
                    {
                        <td>
                            @Html.ActionLink("Editar", "Edit", new {
                                                                   id = item.Id,
                                                                   archivoId = ViewBag.archivoId,
                                                                   tipoArchivo = ViewBag.tipoArchivo
                                                               })
                        </td>
                    }
                    else
                    {
                        <td>
                            
                        </td>
                    }
                </tr>
            }

        </table>

        <input type="submit" name="Submit" id="Submit" value="Generar Archivo" class="btn btn-default" />
    }
}

