@model RankenData.InterfacesSAPCognos.Web.Models.ArchivoProcesado

@{
    ViewBag.Title = "Borrar";
}
@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div>
    @Html.ValidationMessage("Error")
}
<h2>Borrar</h2>

<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Archivo Procesado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.Label("Año")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.Label("Archivo Generado?")            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchivoGenerado)
        </dd>

        <dt>
            @Html.Label("Fecha Generación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaArchivoGenerado)
        </dd>

        <dt>
            @Html.Label("Fecha Procesamiento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProcesoArchivo)
        </dd>

        <dt>
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompaniaCognos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivoCreacion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivoCreacion.Nombre)
        </dd>

        <dt>
            @Html.Label("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
