@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.ArchivoProcesado>

@{
    ViewBag.Title = "Monitor Archivos Procesados";
}

<h2>Monitor Archivos Procesados</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th>            
            @Html.Label("Año")
        </th>
        <th>            
            @Html.Label("Archivo Generado")
        </th>
        <th>            
            @Html.Label("Fecha Generación")
        </th>
        <th>            
            @Html.Label("Fecha Procesamiento")
        </th>
        <th>            
            @Html.Label("Descripción")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoArchivoCreacion.Nombre)
        </th>
        <th>
            @Html.Label("Usuario")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArchivoGenerado)
        </td>
        <td>            
            @string.Format("{0:dd/MM/yyyy}", item.FechaArchivoGenerado)
        </td>
        <td>
            @string.Format("{0:dd/MM/yyyy}", item.FechaProcesoArchivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompaniaCognos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoArchivoCreacion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Consultar Datos", "ConsultarDetalle", new { id = item.Id })
            @if (!item.ArchivoGenerado)
            {
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })   
            }
        </td>

    </tr>
}

</table>
