<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Raken Data</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Interface SAP Cognos", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="nav">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="">Datos Maestros</a>
                        <ul>
                            <li>
                                <a href="">Cuentas de mayor</a>
                                <ul>
                                    <li>@Html.ActionLink("Cuenta Cognos", "Index", "CuentaCognos")</li>
                                    <li>@Html.ActionLink("Cuenta SAP", "Index", "CuentaSAP")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Sociedades</a>
                                <ul>
                                    <li>@Html.ActionLink("Sociedad por RFC", "Index", "CompaniaRFC")</li>
                                    <li>@Html.ActionLink("Sociedad Cognos", "Index", "CompaniaCognos")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Año Fiscal", "Index", "AnioFiscal")</li>
                            <li>@Html.ActionLink("Anexo", "Index", "Anexo")</li>
                            <li>@Html.ActionLink("Datos de Cabecera", "Index", "DatosCabecera")</li>
                        </ul>
                    </li>
                    <li> 
                        <a href="">Carga de Información</a>
                        <ul>
                            <li>
                                <a href="">Carga Balance/Resultados</a>
                                <ul>
                                    <li>@Html.ActionLink("Carga Archivo Nuevo", "Index", "CargaBalance")</li>
                                    <li>@Html.ActionLink("Eliminar Carga", "EliminarBalance", "CargaBalance")</li>
                                </ul>
                            </li>   
                            <li>
                                <a href="">Carga Intercompañia</a>
                                <ul>
                                    <li>@Html.ActionLink("Carga Archivo Nuevo", "Index", "CargaIntercompanias")</li>
                                </ul>
                            </li>     
                            <li><a href="">Programar Carga</a></li>   
                            <li>@Html.ActionLink("Monitos de Carga", "Index", "ArchivoCarga")</li>                     
                        </ul>
                    </li>
                    <li><a href="">Generación de archivos</a></li>
                </ul>
                @*<ul class="nav navbar-nav">
                <li>@Html.ActionLink("Anexo", "Index", "Anexo")</li>
                <li>@Html.ActionLink("Cuenta Cognos", "Index", "CuentaCognos")</li>
                <li>@Html.ActionLink("Cuenta SAP", "Index", "CuentaSAP")</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplicación RakenData</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
