@model RankenData.InterfacesSAPCognos.Web.Models.CuentaCognos

@{
    ViewBag.Title = "Crear";
}

<h2>Cuentas de mayor</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje: </div>
    @Html.ValidationMessage("Error");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Creación de Cuentas Cognos</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, "Número", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, "Descripción", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div id="divEsOpen" class="form-group">
            @Html.Label("Es open", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsOpen, "EsOpen")
                @Html.ValidationMessageFor(model => model.EsOpen)
            </div>
        </div>

        <div id="divCuentaCargo" class="form-group">
            @Html.Label("Cuenta cargo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaCargo", (IEnumerable<SelectListItem>)ViewBag.CuentaCargo, "Seleccione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CuentaCargo)
            </div>
        </div>

        <div id="divCuentaAbono" class="form-group">
            @Html.Label("Cuenta abono", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaAbono", (IEnumerable<SelectListItem>)ViewBag.CuentaAbono, "Seleccione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CuentaAbono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnexoId, "Anexo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.DropDownList("AnexoId", (IEnumerable<SelectListItem>)ViewBag.AnexoId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnexoId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function (e) {
        $('#divCuentaCargo').hide();
        $('#divCuentaAbono').hide();

        if ($('#EsOpen').is(":checked")) {
            $('#divCuentaCargo').show();
            $('#divCuentaAbono').show();
        } else {
            $('#divCuentaCargo').hide();
            $('#divCuentaAbono').hide();
            $('#CuentaCargo').val('')
            $('#CuentaAbono').val('');
        }


        //if ($('#EsOpen').val() == "true") {
        //    $('#divCuentaCargo').show();
        //    $('#divCuentaAbono').show();
        //}
        //else {
        //    $('#divCuentaCargo').hide();
        //    $('#divCuentaAbono').hide();
        //    $('#CuentaCargo').val('')
        //    $('#CuentaAbono').val('');
        //}

        //$('#EsOpen').change(function () {
        //    if ($('#EsOpen').val() == "true") {
        //        //$('#divCuentaCargo').show();
        //        //$('#divCuentaAbono').show();
        //        //alert($('#EsOpen').val());
        //    }
        //    else {
        //        //$('#divCuentaCargo').hide();
        //        //$('#divCuentaAbono').hide();
        //        //$('#CuentaCargo').val('')
        //        //$('#CuentaAbono').val('');
        //        //alert("false");
        //    }


        //});

        //$(':checkbox').change(function () {
        //    alert($('#EsOpen').val());
        //    // do stuff here. It will fire on any checkbox change

        //});

        $('#EsOpen').change(function () {
            if ($(this).is(":checked")) {
                $('#divCuentaCargo').show();
                $('#divCuentaAbono').show();
                return;
            }
            $('#divCuentaCargo').hide();
            $('#divCuentaAbono').hide();
            $('#CuentaCargo').val('')
            $('#CuentaAbono').val('');
        });
    });
</script>