@model RankenData.InterfacesSAPCognos.Web.Models.CuentaCognos

@{
    ViewBag.Title = "Crear";
}

<h2>Cuentas de mayor</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje: </div>
    @Html.ValidationMessage("Error");         
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Creación de Cuentas Cognos</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">            
            @Html.LabelFor(model => model.Numero,"Número", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>

        <div class="form-group">            
            @Html.LabelFor(model => model.Descripcion,"Descripción", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div id="divEsOpen" class="form-group">
            @Html.Label("Es open", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsOpen, "EsOpen")
                @Html.ValidationMessageFor(model => model.EsOpen)
            </div>
        </div>

        <div id="divCuentaCargo" class="form-group">
            @Html.Label("Cuenta cargo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaCargo", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaCargo)
            </div>
        </div>

        <div id="divCuentaAbono" class="form-group">
            @Html.Label("Cuenta abono", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaAbono", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaAbono)
            </div>
        </div>

        <div class="form-group">            
            @Html.LabelFor(model => model.AnexoId, "Anexo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AnexoId", String.Empty)
                @Html.ValidationMessageFor(model => model.AnexoId)
            </div>
        </div>      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function (e) {
        //$('#divCuentaCargo').hide();
        //$('#divCuentaAbono').hide();
      
        //if ($('#EsOpen').val() == "true") {
        //    $('#divCuentaCargo').show();
        //    $('#divCuentaAbono').show();
        //}
        //else {
        //    $('#divCuentaCargo').hide();
        //    $('#divCuentaAbono').hide();
        //    $('#CuentaCargo').val('')
        //    $('#CuentaAbono').val('');
        //}
    });
</script>