@model RankenData.InterfacesSAPCognos.Web.Models.CuentaCognos

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div> 
    @Html.ValidationMessage("Error")
}


<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Cuenta Cognos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.Anexo.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anexo.Clave)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
