@model RankenData.InterfacesSAPCognos.Web.Models.CuentaCognos

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Cuenta Cognos</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Numero, "Número")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Descripcion,"Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.Label("Es open")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsOpen)
        </dd>

        <dt>
            @Html.Label("Cuenta cargo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCargo)
        </dd>

        <dt>
            @Html.Label("Cuenta abono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaAbono)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.Anexo.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anexo.Clave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
