@model RankenData.InterfacesSAPCognos.Web.Models.CuentaRelacionada

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>
<p>Crear cuentas relacinadas</p>

@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div>
    @Html.ValidationMessage("Error")
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cuenta relacionada</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @*@Html.LabelFor(model => model.NumeroCuentaRelacionada, htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Número cuenta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NumeroCuentaRelacionada, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NumeroCuentaRelacionada)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CuentaSAPId, "CuentaSAPId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Cuenta SAP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaSAPId", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaSAPId)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.SociedadCognosId, "SociedadCognosId", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.Label("Sociedad cognos", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SociedadCognosId", String.Empty)
                @Html.ValidationMessageFor(model => model.SociedadCognosId)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
