@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.CuentaRelacionada>

@{
    ViewBag.Title = "Cuentas relacionada";
}

@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje:</div>
    @*@Html.ValidationMessage("Error")*@

    <p class="field-validation-error">
        @Html.Raw(@ViewBag.error)
    </p>



}
<h2>Cuenta relacionada</h2>

<p>Administración de cuenta relacionada</p>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.NumeroCuentaRelacionada)*@
            @Html.Label("Cuenta Relacionada")
        </th>
        <th>
            @Html.Label("Compañía Cognos")
        </th>
        <th>
            @Html.Label("Cuenta SAP")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuentaRelacionada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompaniaCognos.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaSAP.Numero)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@*@using (Html.BeginForm("Index", "CuentaRelacionada", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="position:relative;">
        <a class='btn btn-primary' href='javascript:;'>
            SELECCIONE ARCHIVO...
            <input type="file" name="file" id="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="40" onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" name="Submit" id="Submit" value="Carga Masiva" />
}*@

@using (Html.BeginForm("Index", "CuentaRelacionada", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" /><br>
    <input type="submit" name="Submit" id="Submit" value="Carga Masiva" class="btn btn-default" />
}