@model RankenData.InterfacesSAPCognos.Web.Models.Anexo

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Anexo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Modificable)
        </dd>
       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
