@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.Anexo>

@{
    ViewBag.Title = "Indice";
}

<h2>Anexos</h2>

<p>Administración de Anexos</p>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
