@model RankenData.InterfacesSAPCognos.Web.Models.ArchivoCarga

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ArchivoCarga</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Identificador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identificador)
                @Html.ValidationMessageFor(model => model.Identificador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.TipoArchivoCarga, "TipoArchivoCarga", new { @class = "control-label col-md-2" })*@
            @Html.Label("Tipo archivo", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoArchivoCarga", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoArchivoCarga)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Anio_Col3, new { @class = "control-label col-md-2" })*@
            @Html.Label("Año", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anio_Col3)
                @Html.ValidationMessageFor(model => model.Anio_Col3)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Mes_Col4, new { @class = "control-label col-md-2" })*@
            @Html.Label("Mes", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mes_Col4)
                @Html.ValidationMessageFor(model => model.Mes_Col4)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Usuario, "Usuario", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Usuario", String.Empty)
                @Html.ValidationMessageFor(model => model.Usuario)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>
