@model RankenData.InterfacesSAPCognos.Web.Models.ArchivoCarga

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Archivo Carga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
           @Html.Label("Año")   
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio_Col3)
        </dd>

        <dt>
            @Html.Label("Período")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes_Col4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivoCarga1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivoCarga1.Nombre)
        </dd>

        <dt>
            @Html.Label("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
