@model RankenData.InterfacesSAPCognos.Web.Models.ArchivoCarga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArchivoCarga</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identificador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identificador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio_Col3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio_Col3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes_Col4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes_Col4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivoCarga1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivoCarga1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
