@model RankenData.InterfacesSAPCognos.Web.Models.AnioFiscal

@{
    ViewBag.Title = "Delete";
}

@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje: </div>
    @Html.ValidationMessage("Error")
}

<h2>Borrar</h2>

<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Año Fiscal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Anio)*@
            @Html.Label("Año")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.AnioInicio)*@
            @Html.Label("Año inicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioInicio)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.MesInicio)*@
            @Html.Label("Mes inicio")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesInicio)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.AnioFin)*@
            @Html.Label("Año fin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioFin)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.MesFin)*@
            @Html.Label("Mes fin")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesFin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
