@model RankenData.InterfacesSAPCognos.Web.Models.AnioFiscal

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Añio Fiscal</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnioFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnioFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
