@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.SaldoInicial>

@{
    ViewBag.Title = "Saldos iniciales";
}

@if (!ViewData.ModelState.IsValid)
{
    <div>
        Mensaje:
    </div>
    <div>
        @Html.ValidationMessage("Error")
    </div>

}
<h2>Saldos iniciales</h2>

<p>Administración de saldos iniciales</p>


<table class="table">
    <tr>
       

        <th>           
            @Html.Label("Cuenta Cognos")
        </th>

      

        <th>          
            @Html.Label("Compañia Cognos")
        </th>

      
        <th>        
            @Html.Label("Año Fiscal")
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.CuentaCognosValue)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CompaniaCognosValue)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.AnioFiscalValue)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
@using (Html.BeginForm("Index", "SaldoInicial", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="position:relative;">
        <a class='btn btn-primary' href='javascript:;'>
            SELECCIONE ARCHIVO...
            <input type="file" name="file" id="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' size="40" onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" name="Submit" id="Submit" value="Carga Masiva" />
}

