@model RankenData.InterfacesSAPCognos.Web.Models.CargaAutomatica

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Programar Carga</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaProgramada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProgramada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RutaArchivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutaArchivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoArchivoCarga.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivoCarga.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
