@model RankenData.InterfacesSAPCognos.Web.Models.CargaAutomatica

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Programar Carga</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.FechaProgramada)*@
            @Html.DisplayName("Fecha programada")
        </dt>

        <dd>            
            @*@Html.DisplayFor(model => model.FechaProgramada)*@
            @Model.FechaProgramada.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.RutaArchivo)*@
            @Html.DisplayName("Ruta archivo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutaArchivo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.RutaArchivo)*@
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

      

        <dt>
            @Html.Label("Tipo archivo carga")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArchivoCarga.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.WasLoaded)*@
            @Html.Label("Procesado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasLoaded)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
