@model IEnumerable<RankenData.InterfacesSAPCognos.Web.Models.CargaAutomatica>

@{
    ViewBag.Title = "Programar Carga";
}

<h2>Carga Información</h2>

<p>Programar Carga</p>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

@if (Model.Any())
{
    <p class="col-lg-9">
        @Html.Label("Ruta en el servidor: ", new { @class = "control-label" }) @Model.First().RutaArchivo
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Fecha")
        </th>
        <th>
            @Html.DisplayName("Usuario")
        </th>
        <th>
            @Html.DisplayName("Tipo Archivo")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayName("Procesado")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FechaProgramada.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoArchivoCarga.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasLoaded)
            </td>
            <td>
                @if (item.WasLoaded != true)
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) @:|
                }            
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) 
                @if (item.WasLoaded != true)
                {
                   @:| @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
