@model RankenData.InterfacesSAPCognos.Web.Models.CompaniaCognos

@{
    ViewBag.Title = "Borrar";
}

@if (!ViewData.ModelState.IsValid) 
{
     <div>Mensaje:</div> 
    @Html.ValidationMessage("Error")
}
<h2>Borrar</h2>

<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Sociedad Cognos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
