@model RankenData.InterfacesSAPCognos.Web.Models.CuentaSAP

@{
    ViewBag.Title = "Borrar";
}
@if (!ViewData.ModelState.IsValid)
{
    <div>Mensaje: </div>
    @Html.ValidationMessage("Error")
}
<h2>Borrar</h2>

<h3>Esta seguro de eliminar esto?</h3>
<div>
    <h4>Cuenta SAP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Numero)*@
            @Html.Label("Número")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.EsOpen)*@
            @Html.Label("Es open")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsOpen)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CuentaCargo)*@
            @Html.Label("Cuenta cargo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCargo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CuentaAbono)*@
            @Html.Label("Cuenta abono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaAbono)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CuentaCognos1.Numero)*@
            @Html.Label("Número")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCognos1.Numero)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TipoCuentaSAP1.Nombre)*@
            @Html.Label("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuentaSAP1.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
