@model RankenData.InterfacesSAPCognos.Web.Models.CuentaSAP

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Cuenta SAP</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Numero)*@
            @Html.Label("Número")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Descripcion)*@
            @Html.Label("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CuentaCognos)*@
            @Html.Label("Cuenta Cognos")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCognos1.Numero)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TipoCuentaSAP)*@
            @Html.Label("Tipo cuenta SAP")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuentaSAP1.Nombre)
        </dd>
               
        <dt>
            @*@Html.DisplayNameFor(model => model.EsOpen)*@
            @Html.Label("Es open")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsOpen)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CuentaCargo)*@
            @Html.Label("Cuenta cargo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaCargo)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CuentaAbono)*@
            @Html.Label("Cuenta abono")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuentaAbono)
        </dd>      
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
