@model RankenData.InterfacesSAPCognos.Web.Models.CuentaSAP

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CuentaSAP</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Numero, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Numero)
                @Html.ValidationMessageFor(model => model.Numero)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaCognos, "CuentaCognos", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CuentaCognos", String.Empty)
                @Html.ValidationMessageFor(model => model.CuentaCognos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoCuentaSAP, "TipoCuentaSAP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoCuentaSAP", String.Empty)
                @Html.ValidationMessageFor(model => model.TipoCuentaSAP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EsOpen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EsOpen)
                @Html.ValidationMessageFor(model => model.EsOpen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaCargo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuentaCargo)
                @Html.ValidationMessageFor(model => model.CuentaCargo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CuentaAbono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CuentaAbono)
                @Html.ValidationMessageFor(model => model.CuentaAbono)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
