@model RankenData.InterfacesSAPCognos.Web.Models.CompaniaRFC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompaniaRFC</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompaniaCognos1.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompaniaCognos1.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
